ifndef __OBCODE_MAK__
__OBCODE_MAK__ := 1

ifeq (${O},)

define OB_MAK_FILE
$(1)
endef

define OB_TRANS_PATH
endef

else


define OB_MAK_FILE
$(shell ${PYTHON} -c "import sys;c='%PYTHON_OBCODE_STR%';exec(c);"  makob "$(1)" )
endef

define OB_TRANS_PATH
$(shell ${PYTHON} -c "import sys;c='%PYTHON_OBCODE_STR%';exec(c);"  trans --trans-srcdir "$(1)" --trans-dstdir "$(2)" "$(3)")
endef


endif



# __OBCODE_MAK__
endif 